@page
@using yourLogs.Exceptions.Core.Models
@model yourLogs.Exceptions.Mvc.Pages.Icebear


@{
    Layout = null;
    var lastN = ViewBag.LastN as IEnumerable<ILogEntry>;
    var specific = ViewBag.Specific;
    var error = ViewBag.Error;
    var tags = ViewBag.Tags as IEnumerable<string>;
    var selectedTags = ViewBag.SelectedTags as IEnumerable<string>;
    var availableTypes = Enum.GetValues<LogType>();
    var selectedFilterTypes = ViewBag.SelectedFilterTypes as IEnumerable<LogType>;
}

<!DOCTYPE html>
<html>
<head>
    <title>Icebear Logs</title>
    <link href="@Url.Content("~/Styles/_icebear.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Styles/Icebear.css")" rel="stylesheet" type="text/css">
    <script>
        function showModal(logId){
            var commentDetail = document.getElementById(logId);
            commentDetail.style = "display:block";
        }
        function hideModal(logId){
            var commentDetail = document.getElementById(logId);
            commentDetail.style = "display:none";
        }
        function preSubmitFilter(){
            var filterForm = document.getElementById('filter');
            var sinceDate = filterForm['sinceDate'].value;
            var sinceTime = filterForm['sinceTime'].value;
            var toDate = filterForm['toDate'].value;
            var toTime = filterForm['toTime'].value;
            
            if (sinceDate){
                filterForm['from'].value = sinceDate + (sinceTime ? 'T' + sinceTime : '');
            }
            if (toDate){
                filterForm['to'].value = toDate + (toTime ? 'T' + toTime : '');
            }
            
            filterForm.submit();
        }

        function toggleFilter(show){
            var filterForm = document.getElementById('filter');
            filter.style = 'display:flex;padding:10px;' + show ? '' : 'display:none';
        }

    </script>
</head>
<body>
<main>
    <section>
        <form name="search" method="get" style="padding:10px">
            <section>
                <label for="search-input">Search For Error</label>
                <input ID="search-input" name="searchInput" type="text"/>
            </section>
            <input ID="submitById" type="submit" value="Search" />
            @if (error != null)
            {
                <label id="notfound">@error</label>
            }
        </form>

        <form id="filter" name="filter" method="get">
            <section title="Date/Time Range">
                <label for="sinceDate">From</label>
                <input type="date" id="sinceDate" />
                <input type="time" id="sinceTime" />
                <input type="hidden" id="from" name="from" />
                
                <label for="toDate">To</label>
                <input type="date" id="toDate" />
                <input type="time" id="toTime" />
                <input type="hidden" id="to" name="to" />
            </section>
            <section title="Tags" style="display: flex; padding: 5px">
                <label>Filter by Tags</label>
                @foreach (var tag in tags)
                {
                    var isSelected = selectedTags.Contains(tag);
                    <ul>
                        @if (@isSelected)
                        {
                            <input type="checkbox" id="@tag"
                                   value="@tag"
                                   name="tags"
                                   checked>
                        }
                        else
                        {
                            <input type="checkbox" id="@tag"
                                   value="@tag"
                                   name="tags">
                        }
                        <label for="@tag">@tag</label>
                    </ul>
                }
            </section>
            <section style="display: flex; padding:5px">
                <label>Filter by Types</label>
                @foreach (var logType in availableTypes)
                {
                    var isSelected = selectedFilterTypes.Contains(logType);
                    var logString = @logType.ToString();
                    <ul>
                        @if (isSelected)
                        {
                            <input type="checkbox" id="@logString"
                                   value="@logString"
                                   name="logtypes"
                                   checked>
                        }
                        else
                        {
                            <input type="checkbox" id="@logString"
                                   value="@logString"
                                   name="logtypes">
                        }
                        <label for="@logString">@logString</label>
                    </ul>
                }
            </section>
            <input ID="submit" type="submit" onclick="preSubmitFilter();" value="Filter"/>
        </form>
    </section>
    <section>
        @if (specific != null)
        {
            @specific
        }
    </section>
    <table width="100%" style="table-layout:auto;border-spacing: 4px;">
        <col style="width:300px">
        <col style="width:100px">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Message</th>
            <th>Description</th>
            <th>System Information</th>
            <th>Occurred</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in lastN)
        {
            <tr>
                <td><a href="/iblogs?searchInput=@log.Id">@log.Id</a></td>
                <td>@log.LogType.ToString()</td>
                <td>@log.Text</td>
                <td>
                    @{
                        if (@log.Description is {Length: > 100 })
                        {
                            var s = $"{@log.Description.Substring(0, 100)} + ...";
                            <a href="#" onclick="showModal('@log.Id')">@s</a>
                        }
                        else
                        {
                            @log.Description
                        }
                    }
                    <aside>
                        <dialog id="@log.Id" class="modal" style="display:none">
                            <comment id="detail">@log.Description</comment>
                            <comment id="systemDetail">@log.SystemContext</comment>
                            <comment id="userDetail">@log.UserContext</comment>
                            <menu>
                                <button value="cancel" onclick="hideModal('@log.Id')">X</button>
                            </menu>
                        </dialog>
                    </aside>
                </td>
                <td>@log.SystemContext</td>
                <td>@log.OccurredDate</td>
            </tr>
        }
        </tbody>
    </table>
</main>
</body>
</html>